/* Google Font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* variables */

:root {
  --body-font: "Poppins", sans-serif;
}
:root {
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}
:root {
  --first-color: #003b1f;
  --second-color: #6AAF07;
  --third-color: rgb(241, 241, 241);
  --fourth-color: #fff;
 
}
html {
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--body-font);
}
body {
  width: 100vw;
  height: 43rem;
  position: relative;
  background-color: var(--first-color);
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: hidden;
  
}
body::-webkit-scrollbar {
  display: none;
}
.master-div {
  width: 100vw;
  height: 43rem;
  position: relative;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.first-div {
  width: 100%;
  height: 24%;
  background-color: var(--first-color);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background: linear-gradient(rgba(0, 61, 33, 0.8), rgb(0, 61, 33)), url(/img/Hostel.jpg); */
  /* transition: 3s ease-in-out; */
  /* animation: bchange 10s ease-in infinite; */
}
@keyframes bchange {
  0% {
    background-image: url(/img/Hostel.jpg);
  }
  50% {
    background-image: url(/img/hostel4.jpg);
  }
  100% {
    background-image: url(/img/Hostel.jpg);
  }
}
.first-div-sub{
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.first-div-sub h1{
  color: var(--fourth-color);
  font-weight: 300;
  font-size: 1.5rem;
}
.Logo{
  position: absolute;
  top: var(--mb-2);
  left: var(--mb-2);
  z-index: 100;
}
.Logo img{
  width: 40px;
  height: auto;
}
.first-div-sub-button{
  position: absolute;
  bottom: 0;
  right: 0;
}
.first-div-sub-button button{
  outline: none;
  border: none;
  width: 6rem;
  height: 1.7rem;
  font-size: 0.55rem;
  background-color: var(--second-color);
  color: var(--fourth-color);
  border-radius: 8px 8px 0px 0px;
  margin-right:  5px;
  transition: 0.3s ease-in-out;
}
.first-div-sub-button button:hover{
  background-color: var(--fourth-color);
  color: black;
}
.line-div{
  width: 100%;
  height: 1%;
  background-color: var(--second-color);
}
.log-div{
  width: 100%;
  height: 75%;
  background-color: var(--fourth-color);
  position: relative;
}
.log-div-sub{
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(rgba(255, 255, 255, 0.98), rgba(255, 255, 255, 0.98)), url(img/fuo\ logo.png);
}
.log-div-sub-master{
  width: 90%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: -4rem;
}
.log-type{
  width: 22%;
  height: 100%;
  background-color: var(--first-color);
  position: relative;
  display: block;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.login-type{
  width: 100%;
  height: 33.33%;
  padding: 3px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in-out;
}
.login-typee i{
  font-size: 2rem;
}
.login-typee p{
  font-size: 0.6rem;
  margin-top: -2px;
  color: var(--fourth-color);
}
.log-type-student, .log-type-manager{
  border-bottom: 2px solid var(--fourth-color);
  color: var(--fourth-color);
}
.log-type-student{
  background-color: var(--second-color);
  color: var(--fourth-color);
}
.log-type-manager i, .log-type-works i{
  color: var(--second-color);
}
.login-div{
  width: 78%;
  height: 100%;
  background-color: var(--fourth-color);
  box-shadow: inset -5px -5px 9px rgba(255,255,255,0.45), inset 5px 5px 9px rgba(94,104,121,0.3);
  border-radius: 0px 7px 7px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.login-div-master{
  width: 90%;
  height: 90%;
 text-align: center;
 display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.login-div-master-sub{
  text-align: center;
  width: 100%;
  height: 100%;
  transition: 0.5s ease-in-out;
}
.login-div-master-sub img{
  width: 100px;
  height: auto;
}
.login-div-master-sub h2{
  font-size: 2rem;
  letter-spacing: 1.5px;
  font-weight: 200;
  color: rgb(118, 118, 118);
}
.error{
  font-size: 0.7rem;
  padding: 7px;
  color: red;
}
input{
  outline: none;
  border: none;
  width: 13rem;
  height: 2.5rem;
  margin-bottom: 12px;
  padding: 5px;
  font-size: 0.8rem;
  color: rgb(118, 118, 118);
  border-bottom: 1px solid rgb(118, 118, 118);
}
input::placeholder{
  font-size: 0.7rem;
}
input:focus{
  border-bottom: 2px solid var(--second-color); 
}
.login-div-master-sub button{
  width: 9rem;
  height: 2rem;
  border-radius: 20px;
  margin-top: 8px;
  border: none;
  outline: none;
  background-color: var(--second-color);
  font-size: 0.7rem;
  color: var(--fourth-color);
}
.three{
  display: none;
}
.two{
  display: none;
}
@media only screen and (min-width: 768px) {
  body{
    height: 100vh;
  }
  .master-div{
    height: 100vh;
  }
  .first-div-sub h1{
    font-size: 2rem;
  }
  .Logo img{
    width: 50px;
  }
  .first-div-sub-button button{
    width: 8rem;
    height: 2rem;
  }
  .login-div-master-sub img{
    width: 130px;
  }
  input{
    /* margin: 10px; */
    width: 16rem;
  }
}
@media only screen and (min-width: 992px) {
  body{
    height: 100vh;
  }
  .master-div{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .first-div{
    width: 49.5%;
    height: 100%;
  }
  .line-div{
    width: 0.5%;
    height: 100%;
  }
  .log-div{
    width: 50%;
    height: 100%;
  }
  .first-div-sub h1{
    font-size: 4rem;
  }
  .Logo{
    top: 2.5rem;
    left: 2.5rem;
  }
  .Logo img{
    width: 60px;
  }
  .first-div-sub-button{
   right: 5rem;
  }
  .first-div-sub-button button{
    width: 10rem;
    height: 3rem;
    font-size: 0.7rem;
  }
  .login-div-master-sub img{
    width: 250px;
  }
  .login-div-master-sub h2{
    font-size: 2.3rem;
  }
  .error{
    font-size: 0.8rem;
  }
  input{
    margin: 15px;
    width: 19rem;
    font-size: 1rem;
  }
  .login-div-master-sub button{
    width: 13rem;
    height: 2.5rem;
  }
}